In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [3]:
data = {
    'Hours':[1,2,3,4,5,6,7,8],
    'Marks':[25,35,45,50,55,65,70,80]
}
df = pd.DataFrame(data)
df

   Hours  Marks
0      1     25
1      2     35
2      3     45
3      4     50
4      5     55
5      6     65
6      7     70
7      8     80

In [10]:
# step3: Define Features and Target
x=df[['Hours']]          # '[[' = columns and rows
y=df['Marks']

In [12]:
# step4: split data into Train & Test Sets
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=0)
print('Training Samples:', len(x_train))
print('Testing Samples:', len(x_test))

Training Samples: 6
Testing Samples: 2

In [13]:
# step5: Create the model and  # tep6: Train the model
model=LinearRegression()
model.fit(x_train, y_train)
print('Model Trained Successfully')

Model Trained Successfully

In [14]:
y_pred=model.predict(x_test)
print(y_test.values)
print(x_test)
print('Actual:', list(y_test.values))
print('Predicted:', list(y_pred))

[70 45]
   Hours
6      7
2      3
Actual: [np.int64(70), np.int64(45)]
Predicted: [np.float64(72.19999999999999), np.float64(41.4)]