# Numpy Introduction and usage
## We will use numpy in this Jupyter Notebook

# One Dimensional Array

In [1]:
import numpy as np

In [2]:
array1=np.array([10,20,30,40,50])

In [3]:
print(array1)

[10 20 30 40 50]

## Two Dimensional Array (2-D Array)

In [4]:
array_two=np.array([[10,20,30],[40,50,70]])

In [5]:
print(array_two)

[[10 20 30]
 [40 50 70]]

# Three Dimensional Array (3-D Array)

In [6]:
array_three=np.array([[[10,20,30],[40,50,70]],[[10,20,30],[40,50,70]]])

In [7]:
print(array_three)

[[[10 20 30]
  [40 50 70]]

 [[10 20 30]
  [40 50 70]]]

## Find out Dimension of Numpy array

In [8]:
print('First array dimension: \t',array1.ndim)

First array dimension: 	 1

In [9]:
print('Second array dimension: \t',array_two.ndim)

Second array dimension: 	 2

In [10]:
print('Third array dimension: \t',array_three.ndim)

Third array dimension: 	 3

# Write an array of 5 students mark using Numpy
    ## Marks are: 80,70,75,99,89

In [11]:
array_marks=np.array([80,70,75,99,89])
print('Array of Marks')
print (array_marks)

Array of Marks
[80 70 75 99 89]

# Write an array: to take marks of 5 students in 3 subjects using Numpy
## Math, English, Chemistry
### [[50,45,49],[40,42,45],[35,40,46],[39,40,45],[48,40,40]]

In [12]:
marks_subject=np.array([[50,45,49],[40,42,45],[35,40,46],[39,40,45],[48,40,40]])
print('2D Array Example')
print(marks_subject)

2D Array Example
[[50 45 49]
 [40 42 45]
 [35 40 46]
 [39 40 45]
 [48 40 40]]

## Write an array: to take marks of 4 students in 3 subjects for two semester using Numpy
     ## Students Name are: 'Alia','Syahmi','Mimi','Aya'
     ## Math, English, Chemistry
     ## Two semester: Sem1, Sem2
     ## 4*3*2
     ## [[85, 88],[78, 82],[90, 95]], [[76, 70],[78, 82],[90, 90]],[[80, 86],[78, 82],[90, 95]],[[85, 88],[78, 82],[70, 90]]

In [22]:
marks_subject_sem=np.array([
    [[85, 88],[78, 82],[90, 95]], 
    [[76, 70],[78, 82],[90, 90]],
    [[80, 86],[78, 82],[90, 95]],
    [[85, 88],[78, 82],[70, 90]]
])

In [23]:
print (marks_subject_sem)

[[[85 88]
  [78 82]
  [90 95]]

 [[76 70]
  [78 82]
  [90 90]]

 [[80 86]
  [78 82]
  [90 95]]

 [[85 88]
  [78 82]
  [70 90]]]

# Write an array: to take wheater of 2 cities in 3 sdays for three times in a day morning, noon, evening
     ## Cities name are: Kuala Lumpur, Delhi
     ## Saturday, Sunday, Monday
     ## Three time slot: Morning, Noon, Evening
     ## Kuala Lumpur: [[25,30,28],[24,28,25],[30,32,30]]
     ## Delhi: [[30,35,30],[32,34,30],[28,31,30]]
     ## [[[25,30,28],[24,28,25],[30,32,30]], [[30,35,30],[32,34,30],[28,31,30]]]
# Create one 3-D array for this using Numpy and print it

In [28]:
wheather_array=np.array([[[25,30,28],[24,28,25],[30,32,30]], [[30,35,30],[32,34,30],[28,31,30]]])

In [29]:
print(wheather_array)

[[[25 30 28]
  [24 28 25]
  [30 32 30]]

 [[30 35 30]
  [32 34 30]
  [28 31 30]]]

# Basic Information
    ## shape: rows and columns
    ## size: number of elements
    ## dimension: return dimension 1,2,3...
    ## data type: return stored data values type

In [26]:
print(array1)

[10 20 30 40 50]

In [27]:
print('Shape of array1:',array1.shape)

Shape of array1: (5,)

In [30]:
print('size of array1:',array1.size)

size of array1: 5

In [31]:
print('Dimension: ',array1.ndim)

Dimension:  1

In [32]:
print('Data Type: ',array1.dtype)

Data Type:  int64

In [38]:
students=np.array(['Alia bt Zaidi','Syahmi','Ami','Yaya'])

In [34]:
print(students)

['Alia' 'Syahmi' 'Ami' 'Yaya']

In [35]:
print('Shape of array:',students.shape)

Shape of array: (4,)

In [36]:
print('Number of students:',students.size)

Number of students: 4

In [39]:
print('Data Type: ',students.dtype)

Data Type:  <U13

# Mathematical Operation

In [40]:
print(array1)

[10 20 30 40 50]

In [41]:
total=np.sum(array1)

In [42]:
print(total)

150

In [44]:
print('Mean: ',np.mean(array1))

Mean:  30.0

In [45]:
print('Max: ',np.max(array1))

Max:  50

In [46]:
print('index of min:',np.argmin(array1))

index of min: 0

In [47]:
print('index of max:',np.argmax(array1))

index of max: 4

In [52]:
our_arr=np.array([100,200,300,7000,400,500,300,1900,600])

In [53]:
print(our_arr)

[ 100  200  300 7000  400  500  300 1900  600]

# Searching and sorting example in 1-D array

In [54]:
sorted_arr=np.sort(our_arr)
print('***Sorted array')
print(sorted_arr)

***Sorted array
[ 100  200  300  300  400  500  600 1900 7000]

In [55]:
print('Is there any item greater than 500 ?: ',np.any(sorted_arr>500))

Is there any item greater than 500 ?:  True

In [56]:
print('All greater than 500 ?: ',np.all(sorted_arr>500))

All greater than 500 ?:  False

In [57]:
print('All greater than 99 ?: ',np.all(sorted_arr>99))

All greater than 99 ?:  True

In [58]:
print('Where values >500',np.where(sorted_arr>500))

Where values >500 (array([6, 7, 8]),)

In [59]:
print('All Number greater than 500')
for num in np.where(sorted_arr>500):
    print (num)

All Number greater than 500
[6 7 8]

In [61]:
print(our_arr)

[ 100  200  300 7000  400  500  300 1900  600]

In [63]:
print(np.min(our_arr))

100

In [64]:
print('Index of Min: ',np.argmin(our_arr))

Index of Min:  0

In [65]:
print('Index of Max',np.argmax(sorted_arr))

Index of Max 8

In [66]:
print('All Number greater than 500')
for num in sorted_arr>500:
    print (num)

All Number greater than 500
False
False
False
False
False
False
True
True
True

In [67]:
selected_values=sorted_arr[sorted_arr>500]

In [68]:
print(selected_values)

[ 600 1900 7000]

In [69]:
for num in selected_values:
    print (num)

600
1900
7000

In [70]:
for num in sorted_arr[sorted_arr>500]:
    print(num)

600
1900
7000

In [71]:
print(' ',sorted_arr[sorted_arr>500])

  [ 600 1900 7000]

# Slicing 1 D Array
 ## 1. To take elements from starting index to end index
 ## 2. e.g. [start:end]

In [72]:
print(sorted_arr)

[ 100  200  300  300  400  500  600 1900 7000]

In [73]:
slice_sorted_arr=sorted_arr[1:3]
print(slice_sorted_arr)

[200 300]

# starting from an index and going till last

In [75]:
print(sorted_arr[3:])

[ 300  400  500  600 1900 7000]

In [76]:
print(sorted_arr[:4])

[100 200 300 300]

In [77]:
print(sorted_arr[:5])

[100 200 300 300 400]

# step
    ## [start:end:step]
    ## step: every step element

In [78]:
our_slice=sorted_arr[1:6:2]
print(our_slice)

[200 300 500]

In [79]:
print('Original Array')
print(sorted_arr)
print('Every Third Element')
every_third_element=sorted_arr[::3]
print(every_third_element)

Original Array
[ 100  200  300  300  400  500  600 1900 7000]
Every Third Element
[100 300 600]

# Slice Reverse

In [80]:
print('Original Array')
print(sorted_arr)
print('Revers Array: ')
print(sorted_arr[::-1])

Original Array
[ 100  200  300  300  400  500  600 1900 7000]
Revers Array:
[7000 1900  600  500  400  300  300  200  100]

In [81]:
print('Last five elements')
print(sorted_arr[-5:])

Last five elements
[ 400  500  600 1900 7000]

In [82]:
print('Slicing Done')

Slicing Done